:host {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 20px;
  align-items: center;

  .details-card {
    position: relative;
    z-index: 1;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 20px;
    border: 2px solid black;

    .title {
      position: absolute;
      padding: 5px;
      top: -20px;
      z-index: 2;
      background: #fff;
    }

    .row {
      display: flex;
      margin-bottom: 15px;
    }
    .btn-row {
      margin-bottom: 0;
      flex-grow: 1;
      justify-content: flex-end;
    }
    .column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      &:not(:first-child) {
        padding-left: 5px;
      }
    }
    img {
      height: 95px;
      width: 150px;
    }
    .label {
      display: block;
      font-size: 15px;
    }
    input,
    .save-btn {
      height: 35px;
    }
    input {
      padding: 5px;
    }
    textarea {
      resize: none;
      padding: 5px;
    }
    .input-price {
      width: 120px;
    }
    .price-input-container {
      display: flex;
    }
    .description {
      width: 100%;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    .save-btn {
      width: 100px;
      align-self: flex-end;
    }
  }
}

@media only screen and (max-width: 768px) {
  :host {
    .details-card {
      padding: 10px;
      padding-top: 25px;
      height: 100%;
      border: 0;

      .title {
        position: absolute;
        padding: 5px;
        top: -20px;
        z-index: 2;
      }

      .column {
        width: 33%;
      }
    }
  }
}
