.card-container {
  display: flex;
  padding: 18px 15px;
  border: 2px solid black;

  .card-image {
    width: 18%;
    .product-image {
      width: 90px;
      height: 60px;
    }
  }

  .card-sub-container {
    width: 82%;
    display: flex;
    justify-content: space-between;

    .details {
      padding-right: 5px;
    }

    .delete-btn {
      margin-top: 30px;
      width: 100px;
      height: 35px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    padding: 10px;
    border: 0;

    .card-image {
      width: 30%;
      display: flex;
      align-items: center;
    }

    .card-sub-container {
      width: 70%;

      .card-delete-btn {
        display: flex;
        align-items: center;
        .delete-btn {
          width: 70px;
          margin-top: 0;
        }
      }
    }
  }
}
